/* ===== GENERAL ===== */

:root {
  --color-1: hsl(0, 0%, 0%); /* black */
  --color-2: hsl(0, 0%, 80%); /* grey */
  --color-3: hsl(0, 0%, 95%); /* light grey */
}

:not(ul) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: sans-serif;
}

/* ===== NAV ===== */

nav header {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin-top: 10px;
}

#nav-link-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  height: 150px;
  overflow: auto;
  border-top: 2.5px solid var(--color-2);
  border-bottom: 2.5px solid var(--color-2);
}

.nav-link {
  text-decoration: none;
  color: inherit;
  font-size: 1.25em;
  text-align: center;
  padding: 2.5px;
}

.nav-link:nth-child(n+2) {
  border-top: 1px solid var(--color-3);
}

/* ===== MAIN CONTENT ===== */

main {
  padding: 20px 20px 0;
}

.main-section {
  margin-top: 60px;
}

.main-section header {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 10px;
}

.main-section p:nth-child(n+2) {
  margin-top: 20px;
}

pre, code {
  font-family: monospace;
  background-color: var(--color-3);
}

pre {
  margin-top: 20px;
  padding-left: 20px;
  border-left: 5px solid var(--color-2);
}

.main-section li:nth-child(n+2) {
  margin-top: 10px;
}

li ul {
  margin-top: 10px;
}

/* ===== MEDIA QUERIES ===== */

@media only screen and (min-width: 576px) {

  #container {
    display: flex;
    justify-content: flex-end;
  }

  /* ===== NAV ===== */

  #navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 30%;
    height: 100%;
    border-right: 2.5px solid var(--color-2);
  }

  #nav-link-container {
    height: initial;
  }

  /* ===== MAIN CONTENT ===== */

  main {
    flex: 0 0 70%;
  }
}
