/* ===== GENERAL ===== */

:not(ul) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: sans-serif;
}

/* ===== NAV ===== */

#main-header {
  margin: 5px;
}

nav header {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin-top: 10px;
}

#nav-link-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  height: 150px;
  overflow: auto;
  border: 1px solid #000;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  font-size: 1.25em;
  text-align: center;
  border: 1px solid #000;
  padding: 2.5px;
}

/* ===== MAIN CONTENT ===== */

main {
  margin: 20px 20px 0;
}

.main-section {
  margin-top: 60px;
}

.main-section header {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 10px;
}

.main-section p:nth-child(n+2) {
  margin-top: 20px;
}

pre, code {
  font-family: monospace;
  background-color: hsl(0, 0%, 95%);
}

pre {
  margin-top: 20px;
  padding-left: 20px;
}

.main-section li:nth-child(n+2) {
  margin-top: 10px;
}

li ul {
  margin-top: 10px;
}
